# Dependencies
**/node_modules/

# Build output
**/dist/
**/.next/
**/out/
**/build/
**/coverage/

# Lockfiles
**/package-lock.json

# Environment
**/.env*

# Other
**/*.tsbuildinfo
**/next-env.d.ts
docs/